*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
    background-color: #6a5acd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.container{
    text-align: center;
    background-color: antiquewhite;
    height: 300px;
    width: 250px;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.month{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    
}
