*{
    padding: 0;
    margin: 0;
}
.continar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f4b58;
    height: 30vh;
    flex-direction: row;
}
.textarea{
    width: 35vw;
    height: 12vh;
    box-shadow: 7px 7px;
    border-radius: 7px;
    padding-top: 10px;
    padding-left: 10px;
}
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: row;
}
.otr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
.clr{
    height: 40px;
    width: 80px;
}
.addnote{
    height: 40px;
    width: 80px;
    box-shadow: 4px 4px;
    background-color: black;
}